        <footer>
            <div class="ref">
                <h2> Referências </h2>
                <ul>
                    <li><a href="https://www.flaticon.com/br/icones-gratis/codigo" title="código ícones" target="_blank"> Código (ícones criados por Catalin Fertu e Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/externo" title="externo ícones" target="_blank"> Externo (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/arquivo-python" title="arquivo python ícones" target="_blank"> Arquivo Python (ícones criados por Flat Icons) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/javascript" title="javascript ícones" target="_blank"> JavaScript (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/perfil" title="perfil ícones" target="_blank"> Perfil (ícones criados por inkubators) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/enviar" title="enviar ícones" target="_blank"> Enviar (ícones criados por Freepik) - Flaticon </a></li>
                    <li><a href="https://www.flaticon.com/br/icones-gratis/do-utilizador" title="do utilizador ícones"> Do Utilizador (ícones criados por Becris) - Flaticon </a></li>
                    <li><a href="https://www.flaticon.com/br/icones-gratis/lapis" title="lápis ícones"> Lápis (ícones criados por Freepik) - Flaticon </a></li>
                </ul>
            </div>
            <h6> Copyright © 2023 by João Gabriel. All rights reserved. </h6>
        </footer>
    </body>
</html>
