        <footer>
            <div class="ref">
                <h2> Referências </h2>
                <ul>
                    <li><a href="https://www.flaticon.com/br/icones-gratis/codigo" title="código ícones" target="_blank"> Código (ícones criados por Catalin Fertu e Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/externo" title="externo ícones" target="_blank"> Externo (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/arquivo-python" title="arquivo python ícones" target="_blank"> Arquivo Python (ícones criados por Flat Icons) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/javascript" title="javascript ícones" target="_blank"> JavaScript (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/perfil" title="perfil ícones" target="_blank"> Perfil (ícones criados por inkubators) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/enviar" title="enviar ícones" target="_blank"> Enviar (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/do-utilizador" title="do utilizador ícones" target="_blank"> Do Utilizador (ícones criados por Becris) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/lapis" title="lápis ícones" target="_blank"> Lápis (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/html" title="html ícones" target="_blank"> HTML (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://code.visualstudio.com/" title="vscode" target="_blank" title="vscode"> Visual Studio Code </a></li>
					<li><a href="https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/" title="remessa online" target="_blank"> Visual Studio Code: confira as principais funções da ferramenta </a></li>
					<li><a href="https://www.python.org/" target="_blank" title="python.org"> Python.org </a></li>
					<li><a href="https://medium.com/data-hackers/quais-s%C3%A3o-as-vantagens-de-aprender-python-dd3fbba02c3c" target="_blank" title="medium"> As vantagens de aprender Python </a></li>
					<li><a href="https://canaltech.com.br/mercado/quatro-desvantagens-do-python-em-relacao-a-outras-linguagens-de-programacao-214975/" target="_blank" title="canaltech"> Quatro desvantagens do Python em relação a outras linguagens de programação </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/senha-do-olho" title="senha do olho ícones"> Senha do Olho (ícones criados por pictogramer) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/olho" title="olho ícones"> Olho (ícones criados por berkahicon) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/codificacao" title="codificação ícones"> Codificação (ícones criados por Freepik) - Flaticon </a></li>
					<li><a href="https://www.flaticon.com/br/icones-gratis/planeta" title="planeta ícones"> Planeta (ícones criados por Freepik) - Flaticon </a></li>
                </ul>
            </div>
            <h6> Copyright © 2023 by João Gabriel. All rights reserved. </h6>
        </footer>
    </body>
</html>
