<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="./images/favicon.ico">

		<title> The Programming Guide </title>
		<link rel="stylesheet" href="./stylesheets/style.css">
	</head>

	<body>
		<header>
			<nav>
				<ul class="navbar">
					<li class="left"><a href="/home"><img src="./images/code.png" alt="Code" width="32px" height="32px"></a></li>
					<li class="left" style="padding-top:7.5px"><h1> The Programming Guide </h1></li>
					<li class="right"><a href="/profile" id="profileIcon"><img src="./images/profile.png" alt="Profile" width="32px" height="32px"></a></li>
					<li class="right"><a href="/tools"> Ferramentas </a></li>
					<li class="right"><a href="/languages"> Linguagens </a></li>
					<li class="right"><a href="/home"> Home </a></li>
				</ul>
			</nav>
		</header>
