<%- include('./partials/header') %>
	<div class="signin">
		<form id="forgot">
			<label for="username" form="forgot"> Nome de Usuário: </label><br>
            <input id="username" form="forgot" type="text" placeholder="Ex.: UnknownUser"><br>

            <label for="e-mail" form="forgot"> Email: </label><br>
            <input id="e-mail" form="forgot" type="email" placeholder="Ex.: unknown.user07@gmail.com"><br>

            <input id="showID" form="forgot" type="button" value="Obter ID"><br>

            <div class="other">
                <a href="/login"> Fazer login </a>
                <a href="/register"> Cadastrar-se </a>
            </div>
		</form>
	</div>

	<script src="./javascripts/forg.js"></script>
<%- include('./partials/footer') %>
