<%- include('./partials/header') %>
    <div id="init">
        <div class="col col-left">
            <h1> Seu Primeiro Guia </h1>
            <h3> Trilhe seu próprio caminho no Mundo da Programação. </h3>
            <h5> Conheça algumas das principais linguagens de programação. </h5>
        </div>

        <div class="col col-right">
            <div class="box">
                <a href="#python_row">
                    <div class="card" id="card-py">
                        <h2> Python </h2>
                    </div>
                </a>
            </div>

            <div class="box">
                <a href="#javascript_row">
                    <div class="card" id="card-js">
                        <h2> JavaScript </h2>
                    </div>
                </a>
            </div>

            <div class="box">
                <a href="#html_row">
                    <div class="card" id="card-html">
                        <h2> HTML/CSS </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="python_row">
        <div class="col col-left desc">
            <h1> PYTHON </h1>
            <h4> Python é de fácil aprendizado, sendo a linguagem ideal para quem deseja começar a programar ou para quem já tem experiência com programação. </h4>
            <a href="/languages">
                Veja mais sobre a linguagem
                <img src="./images/redirect.png" alt="Redirect" width="12px" height="12px">
            </a>
        </div>

        <div class="col col-right">
            <img src="./images/prog-icons/py.png" alt="Python" width="256px" height="256px">
        </div>
    </div>

    <div id="javascript_row">
        <div class="col col-left desc">
            <h1> JAVASCRIPT </h1>
            <h4> JavaScript (ou JS), a linguagem de programação mais usada no 'back-end' de um website, ou seja, interação com o usuário e gerenciamento de eventos. </h4>
            <a href="/languages">
                Veja mais sobre a linguagem
                <img src="./images/redirect.png" alt="Redirect" width="12px" height="12px">
            </a>
        </div>

        <div class="col col-right">
            <img src="./images/prog-icons/js.png" alt="JavaScript" width="256px" height="256px">
        </div>
    </div>

    <div id="html_row">
        <div class="col col-left desc">
            <h1> HTML/CSS </h1>
            <h4> HTML5 é a linguagem de marcação mais utilizada para desenvolver websites no chamado 'front-end', juntamente com seu parceiro inseparável: CSS3, as chamadas folhas de estilo. Toda a beleza e o charme de uma página são desenvolvidos nessa belezura. </h4>
            <a href="/languages">
                Veja mais sobre a linguagem
                <img src="./images/redirect.png" alt="Redirect" width="12px" height="12px">
            </a>
        </div>

        <div class="col col-right">
            <img src="./images/prog-icons/html.png" alt="HTML/CSS" width="256px" height="256px">
        </div>
    </div>

    <hr>

    <div id="about">
        <div class="rowWhite">
            <div class="col col-left desc">
                <h1> Sobre Mim </h1>
                <h4> Me chamo João Gabriel e estou no ramo da programação desde 2021. Confira meus outros projetos acessando meu perfil no <a href="https://github.com/JGabrielJ" target="_blank">GitHub</a>. </h4>
            </div>

            <div class="col col-right">
                <img id="photo" src="./images/photo.jpg" alt="Photo">
            </div>
        </div>

        <div class="rowDark">
            <div class="col col-left desc">
                <h1> Sobre o Projeto </h1>
                <h4> O objetivo deste site é ajudar interessados na área de programação (leigos ou iniciantes) a conhecerem o básico do que ela é composta, mostrando as ferramentas e linguagens de programação mais populares entre os programadores atuais (no ano de 2023), suas vantagens e desvantagens, dentre outras funcionalidades. </h4>
            </div>

            <div class="col col-right">
                <img src="./images/website.png" alt="Website">
            </div>
        </div>

        <div class="rowWhite">
            <div class="col col-left desc">
                <h1> Dê seu Feedback </h1>
                <h4> Para quaisquer dúvidas ou comentários que desejar fazer a respeito deste ou de outros projetos, entre em contato comigo através do e-mail <a href="https://mail.google.com/mail/u/0/?fs=1&to=gjacinto0707@gmail.com&tf=cm" target="_blank">gjacinto0707@gmail.com</a>. </h4>
            </div>

            <div class="col col-right">
                <img src="./images/email.png" alt="E-mail">
            </div>
        </div>
    </div>
<%- include('./partials/footer') %>
