<%- include('./partials/header') %>
	<div class="signin">
		<form id="login">
			<label for="username" form="login"> Nome de Usuário: </label><br>
			<input id="username" form="login" type="text" placeholder="Ex.: UnknownUser"><br>

			<label for="userid" form="login"> ID do Usuário: </label><br>
			<input id="userid" form="login" type="password" placeholder="Ex.: 9999"><br>

			<input id="submit" form="login" type="button" value="Fazer login"><br>

			<div class="other">
				<a href="/register"> Cadastrar-se </a>
				<a href="/forgot"> Esqueceu seu ID? </a>
			</div>
		</form>
	</div>

	<script src="./javascripts/log.js"></script>
<%- include('./partials/footer') %>
