<%- include('./partials/header') %>
	<div id="info">
		<div class="col" id="details">
			<h2 id="title"> Informações do Perfil </h2>
			<div id="prof-info">
				<dl>
					<dt> Nome: </dt>
					<dd> User Name Santos da Silva </dd>
				</dl>

				<dl>
					<dt> Descrição: </dt>
					<dd> "Não importa quem seja, nunca confie em ninguém; neste mundo estamos todos sozinhos!" </dd>
				</dl>

				<dl>
					<dt> Data de nascimento: </dt>
					<dd> 29/02/1932 </dd>
				</dl>

				<dl>
					<dt> E-mail: </dt>
					<dd> username67@gmail.com </dd>
				</dl>

				<span id="password">
					<p> Alterar Senha </p>
				</span>

				<dl id="fav">
					<dt><h3> Favoritos: </h3></dt>
					<dd><div id="fav-box">
						<p> Você ainda não adicionou nada aos favoritos :( </p>
					</div></dd>
				</dl>
			</div>
		</div>

		<div class="col" id="basic">
			<div id="perf">
				<img src="./images/profile.png" alt="Profile Photo" id="prof-photo">
				<span id="box">
					<img src="./images/pencil.png" alt="Pencil">
					<p> Editar </p>
				</span>
			</div>

			<dl>
				<dt> Username: </dt>
				<dd> USER_123 </dd>
			</dl>
		</div>
	</div>
<%- include('./partials/footer') %>
