<%- include('./partials/header') %>
	<div id="info">
		<div class="col-prof" id="details">
			<h2 id="title"> Informações do Perfil </h2>
			<form id="data">
				<label for="name" form="data"> Nome: </label><br>
				<input id="name" form="data" type="text" value="" placeholder="Digite seu nome..." size="80" required>

				<label for="desc" form="data"> Descrição: </label><br>
				<input id="desc" form="data" type="text" value="" placeholder="Escreva algo sobre você..." size="80">

				<label for="date" form="data"> Data de Nascimento: </label><br>
				<input id="date" form="data" type="date" required>

				<label for="email" form="data"> Descrição: </label><br>
				<input id="email" form="data" type="email" value="" placeholder="username67@gmail.com" size="80" required>

				<input id="password" form="data" type="reset" value="Alterar Dados">

				<dl id="fav">
					<dt><h3> Favoritos: </h3></dt>
					<dd><div id="fav-box">
						<p> Você ainda não adicionou nada aos favoritos :( </p>
					</div></dd>
				</dl>
			</form>
		</div>

		<!-- 
			• Usar '<input type="file">'
			• Usar '<input type="password">'
			• Usar o atributo "readonly" do <input>
			• Substituir '<input type="reset">' por '<input type="submit">'
		-->

		<div class="col-prof" id="basic">
			<form id="photo">
				<img src="./images/profile.png" alt="Profile Photo" id="prof-photo">
				<span id="edit">
					<img src="./images/pencil.png" alt="Pencil">
					<p> Editar </p>
				</span>
			</form>

			<label for="username" form="data"> Nome de Usuário: </label><br>
			<input id="username" form="data" type="text" value="" placeholder="Digite seu nome de usuário..." required>
		</div>
	</div>
<%- include('./partials/footer') %>
