<%- include('./partials/header') %>
	<div id="info">
		<div class="col-prof" id="details">
			<h2 id="title"> Informações do Perfil </h2>
			<form id="dados">
				<label for="name" form="dados"> Nome: </label><br>
				<input id="name" form="dados" type="text" value="" placeholder="Digite seu nome..." size="80"><br>

				<label for="desc" form="dados"> Descrição: </label><br>
				<textarea id="desc" form="dados" rows="5" cols="83" maxlength="500" placeholder="Escreva algo sobre você..."></textarea><br>

				<label for="date" form="dados"> Data de Nascimento: </label><br>
				<input id="date" form="dados" type="date"><br>

				<label for="email" form="dados"> E-mail </label><br>
				<input id="email" form="dados" type="email" value="" placeholder="username67@gmail.com" size="80"><br>

				<input id="change" form="dados" type="button" value="Alterar Dados">
			</form>
		</div>

		<div class="col-prof" id="basic">
			<label id="prof-photo" for="profile" form="dados">
				<img id="image" src="./images/profile.png" alt="Profile Photo" width="256px" height="256px">
				<span id="edit">
					<img src="./images/pencil.png" alt="Pencil">
					<p> Editar </p>
				</span>
			</label>
			<input id="profile" form="dados" type="file">

			<label for="userName" form="dados"> Nome de Usuário: </label><br>
			<div id="userID">
				<input id="userName" form="dados" type="text" value="" readonly>
				<button type="button"><img id="showHide" src="./images/show.png" alt="Show"></button>
			</div>
			<p id="hint"> Clique no olho para ver seu ID... </p>
		</div>
	</div>

	<script src="./javascripts/prof.js"></script>
<%- include('./partials/footer') %>
