<%- include('./partials/header') %>
	<div id="tests">
		<div class="tabs" id="langs">
			<h3> Testadores de Código </h3>
			<ul>
				<li> HTML/CSS </li>
				<li> JavaScript </li>
				<li> Python </li>
				<li> Outras Alternativas </li>
			</ul>
		</div>

		<div id="tester">

		</div>
	</div>
<%- include('./partials/footer') %>
