<%- include('./partials/header') %>
	<div class="page">
		<div class="tabs">
			<h3> Testadores de Código </h3>
			<ul>
				<li> HTML/CSS </li>
				<li> JavaScript </li>
				<li> Python </li>
				<li> Outras Alternativas </li>
			</ul>
		</div>

		<div class="content">
			<h1> Outras Alternativas </h1>
			<p> Existem vários outros sites que também possuem (ou são, em sua totalidade) testadores de códigos, alguns com uma função mais didática e educativa e outros que funcionam como simuladores virtuais. </p>
			<p> Alguns dos mais populares são <a href="https://code.org/" target="_blank">Code.org</a>, <a href="https://developers.google.com/blockly?hl=pt-br" target="_blank">Blockly</a>, <a href="https://www.w3schools.com/tryit/" target="_blank">W3Schools</a>, <a href="https://codepen.io/" target="_blank">Codepen</a>, <a href="https://replit.com/" target="_blank">Replit</a> e <a href="https://vscode.dev/" target="_blank">VSCode Dev</a>.</p>

			<br>
			<p> Aqui está um exemplo de um código feito na plataforma <a href="https://developers.google.com/blockly?hl=pt-br" target="_blank">Blockly</a>. </p>
			<img src="./images/print.png" alt="blockly-code">
		</div>
	</div>
<%- include('./partials/footer') %>
