<%- include('./partials/header') %>
	<div class="page">
		<div class="tabs">
			<h3> Ferramentas de Programação </h3>
			<ul>
				<li><button>
					<img src="./images/prog-icons/vscode.png" alt="Visual Studio Code" width="16px" height="16px">
					<p> Visual Studio Code </p>
				</button></li>
				<li><button>
					<img src="./images/prog-icons/pycharm.png" alt="PyCharm" width="16px" height="16px">
					<p> PyCharm </p>
				</li></button>
				<li><button>
					<img src="./images/prog-icons/vs.png" alt="Visual Studio" width="16px" height="16px">
					<p> Visual Studio </p>
				</li></button>
				<li><button>
					<img src="./images/prog-icons/android.png" alt="Android Studio" width="16px" height="16px">
					<p> Android Studio </p>
				</li></button>
				<li><button>
					<img src="./images/prog-icons/xcode.png" alt="XCode" width="16px" height="16px">
					<p> XCode </p>
				</li></button>
			</ul>
		</div>

		<div class="content">
			<h1> Visual Studio Code </h1>
			<p> É um editor de código leve (possui menos de 100MB) que pode ser executado em qualquer sistema operacional, seja ele Windows, macOS ou Linux. Fornece um sistema de desenvolvimento em HTML, CSS e JavaScript já integrado no software, mas também oferece inúmeras extensões que permitem ao usuário customizarem seu ambiente de trabalho como bem queiram e programarem na linguagem que desejarem, como C/C++, C# e .NET, Java, Python e PHP. Também suporta, de forma integrada, outras linguagens, como Markdown, Powershell, Node.js e JSON. </p>
			<!-- https://www.remessaonline.com.br/blog/visual-studio-code-confira-as-principais-funcoes-da-ferramenta/ -->
			<!-- https://www.capterra.com.br/reviews/186634/visual-studio-code -->
			<!-- Depure o código diretamente do editor. Inicie ou anexe aos seus aplicativos em execução e depure com pontos de interrupção, pilhas de chamadas e um console interativo. -->
			<!-- Vá além do realce de sintaxe e do preenchimento automático com o IntelliSense, que fornece complementos inteligentes com base em tipos de variáveis, definições de função e módulos importados. -->
			<!-- Trabalhar com o Git e outros provedores de SCM nunca foi tão fácil. Revise diffs, prepare arquivos e faça confirmações diretamente do editor. Envie e receba de qualquer serviço SCM hospedado. -->
			<!-- Quer ainda mais recursos? Instale extensões para adicionar novos idiomas, temas, depuradores e para se conectar a serviços adicionais. As extensões são executadas em processos separados, garantindo que não deixem seu editor lento. -->
			<!-- Com o Microsoft Azure, você pode implantar e hospedar seus sites React, Angular, Vue, Node, Python (e muito mais!), armazenar e consultar dados relacionais e baseados em documentos e dimensionar com computação sem servidor, tudo com facilidade, tudo a partir do VS Code. -->
			<p> Existem vários outros sites que também possuem (ou são, em sua totalidade) testadores de códigos, alguns com uma função mais didática e educativa e outros que funcionam como simuladores virtuais. </p><br>

			<h2> Vantagens </h2>
			<p>  Hello, World! </p><br>

			<h2> Desvantagens </h2>
			<p>  Hello, World! </p><br>

			<p> Aqui está um exemplo de um código feito na plataforma <a href="https://developers.google.com/blockly?hl=pt-br" target="_blank">Blockly</a>. </p>
			<img src="./images/print.png" alt="blockly-code">
		</div>
	</div>
<%- include('./partials/footer') %>
