@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Ubuntu+Mono&display=swap');

body {
	margin: 0;
	background-color: #2B2A38;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	margin: 0;
}

.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

.left {
	float: left;
	padding: 10px 0px 0px 15px;
}

.left h1 {
	color: white;
	font-weight: normal;
}

.right {
	float: right;
}

.right a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

.right a:hover {
	background-color: #32CD32;
}

#profile {
	padding: 10px 15px 5px 15px;
}

#init, #python, #javascript, #html {
	display: flex;
	flex-wrap: nowrap;
	padding: 75px 0px;
	align-items: center;
	justify-content: space-evenly;
}

#init {
	background-color: #FFE3E3;
}

#python {
	background-color: #DDFFAA;
}

#javascript {
	background-color: #D9ECEC;
}

#html {
	background-color: #FFF5A5;
}

.col, .col-prof {
	padding: 3%;
}

.col {
	text-align: center;
}

.col-left h1 {
	font-size: 60px;
    font-weight: bold;
}

.col-left h3 {
	font-size: 20px;
}

.col-left h4 {
	font-size: 15px;
	margin-bottom: 5px;
}

.col-left h5 {
	margin: 10px;
	font-size: 15px;
}

.col-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	margin: 0;
	border: 5px solid black;
}

.rowWhite, .rowDark {
	display: flex;
	flex-wrap: nowrap;
	padding: 75px 0px;
	align-items: center;
	justify-content: space-evenly;
}

.rowWhite {
	background-color: white;
}

.rowDark {
	color: white;
}

.container {
	padding: 50px;
	border-radius: 15px;
	box-shadow: 5px 5px 15px #96C8FA;
}

.desc {
	width: 40%;
}

#photo {
	border-radius: 50%;
}

.box {
	width: 200px;
	padding: 2% 3%;
}

.box a {
	text-decoration: none;
}

.card {
	padding: 20px;
	border-radius: 5px;
}

#card-py {
	background-color: #45CC45;
}

#card-js {
	background-color: #5BB1D9;
}

#card-html {
	background-color: #FFF080;
}

.card h2 {
	font-size: 30px;
	font-style: bold;
}

#info {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	background-color: white;
	justify-content: flex-start;
	padding: 50px 100px 0px 100px;
	font-family: 'Inter', sans-serif;
}

#info dt {
	padding-bottom: 5px;
}

#info dd {
	margin: 0;
	padding: 3px;
	border-radius: 5px;
	border: 2px solid gray;
}

#info input {
	padding: 7px;
	font-size: 16px;
	border-radius: 5px;
	margin: 5px 0px 10px 0px;
	border: 2px solid gray;
	font-family: 'Inter', sans-serif;
}

#date {
	width: 97.7%;
}

#password {
	margin: 0;
	width: 100%;
	color: white;
	cursor: pointer;
	background-color: gray;
}

.page {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	background-color: white;
	justify-content: flex-start;
	font-family: 'Inter', sans-serif;
}

#photo {
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
}

#prof-photo {
	border-radius: 50%;
}

#edit {
	left: 0;
	bottom: 0;
	width: 50px;
	padding: 7px;
	display: flex;
	position: absolute;
	border-radius: 7px;
	justify-content: center;
	background-color: gray;
	margin: 0px 0px 15px 15px;
}

#edit p {
	margin: 0;
	color: white;
	font-size: small;
	padding-left: 5px;
}

#details {
	width: 70%;
}

#title {
	font-weight: normal;
	padding-bottom: 3px;
	margin-bottom: 15px;
	border-bottom: 1px solid gray;
}

#fav {
	padding-top: 50px;
}

#fav h3 {
	font-weight: normal;
}

#fav-box {
	height: 100px;
}

#fav-box p {
	margin: 0;
	padding: 5px;
}

.tabs {
	width: 15%;
	text-align: center;
	background-color: #EFEFEF;
}

.tabs h3 {
	padding: 10px;
	font-weight: normal;
	background-color: #9F9F9F;
}

.tabs ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tabs button {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	border: 2px solid #9F9F9F;
	font-family: 'Inter', sans-serif;
}

.tabs button:hover {
	cursor: pointer;
	background-color: #CFCFCF;
}

.tabs p {
	font-size: 14px;
	margin-left: 5%;
}

.content {
	width: 85%;
	margin: 75px 50px;
}

.content h1, .content h2 {
	font-weight: normal;
}

.content img {
	box-shadow: 5px 5px 15px gray;
}

.note {
	width: 65%;
	border-radius: 10px;
	border: 2px outset gray;
	padding: 15px 0px 0px 15px;
	box-shadow: 5px 5px 15px gray;
}

.example {
	width: 75%;
	padding: 0px 15px;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 5px 5px 15px gray;
	font-family: 'Ubuntu Mono', monospace;
}

.code {
	padding: 15px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid gray;
}

.indent {
	margin-left: 40px;
}

.var {
	color: #4ABADA;
}

.command {
	color: #C464C4;
}

.comp {
	color: #4080C0;
}

.func {
	color: #B9B929;
}

.str {
	color: #E46464;
}

.num {
	color: #82B262;
}

footer h6 {
	color: white;
	margin-left: 10%;
	margin-bottom: 1%;
}

.ref {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.ref h2 {
	padding: 3%;
	color: white;
}

.ref li {
	color: white;
}

.ref a {
	color: deepskyblue;
	text-decoration: none;
}

#email {
	color: blue;
}
